@charset "UTF-8";
/*********************************************
* @author MICHAEL LANCASTER
* @created at 07/16/2012
* @SASS/CSS
* @reset
* @font-face
* @variables - mixin - extend
* @general
* @grid - structure
* @skin
* @action - animation
*
*********************************************/

/*********************************************
*
* @reset
*
*********************************************/
@import "compass";
@import "compass/reset";

/*********************************************
*
* @variables - mixin - extend
*
*********************************************/
/* variables */
$grid-auto: 0 auto;
$grid-01: 930px;
$grid-02: 250px;
$shadow: 3px 3px 3px #fff;

/* extend */
.shadow {
	text-shadow: $shadow;
}

/*********************************************
*
* @general
*
*********************************************/
body {
	background: url(../images/bg.png) repeat-x #F2F2F2;
	font: 12px 'Imprima', sans-serif;
	color: #333;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

input[type='range'] {
    -webkit-appearance: none;
    background: #0bd0e1;
    border-radius: 4px;
    box-shadow: $shadow;
    cursor: pointer;
    
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#282828), to(#0f0f0f));
	background-image: -webkit-linear-gradient(top, #282828, #0f0f0f); 	
	background-image: -moz-linear-gradient(top, #282828, #0f0f0f);
	background-image: -ms-linear-gradient(top, #282828, #0f0f0f);
	background-image: -o-linear-gradient(top, #282828, #0f0f0f);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #444;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    
	background-image: -webkit-radial-gradient(center, ellipse cover, from(#fdfdfd), to(#acacac));
	background-image: -webkit-radial-gradient(center, ellipse cover, #fdfdfd, #acacac); 
	background-image: -moz-radial-gradient(top, #fdfdfd, #acacac);	
	background-image: -ms-radial-gradient(top, #fdfdfd, #acacac);
	background-image: -o-radial-gradient(top, #fdfdfd, #acacac);
}

/*********************************************
*
* @grid - structure
*
*********************************************/
.grid-auto {
	margin: $grid-auto;
	overflow: hidden;
}

.grid-0 {
	width: ($grid-01 + $grid-02) + 10;
}

.grid-01 {
	width: $grid-01;
}

.grid-02 {
	width: $grid-02;
}

.fl-l {
	float: left
}

#wrap {
	margin: 30px 0;
}

.aside {
	margin: 0 10px 0 0;
}

/*********************************************
*
* @skin
*
*********************************************/
.title {
	width: 525px;
	font-size: 42px;
	margin-top: 30px;
	margin-bottom: 100px;
	@extend .shadow;
	
	& small, & a {
		font-size: 18px;
	}
	
	& a {
		display: block;
		color: #0271BF;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.content-img {
	background: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ccc;
	margin-bottom: 30px;
}

.fx-options label {
	margin: 0 10px 40px 0;
	width: 100%;
}

.fx-options label, .fx-options span, .fx-options input {
	display: block;
}

.fx-options span {
	font-size: 32px;
}
